
.color-0 {
    background-color: transparent;
}

.color-1 {
    background-color: hsl(0, 100%, 75%);
}

.color-2 {
    background-color: hsl(32, 100%, 75%);
}

.color-3 {
    background-color: hsl(97, 100%, 86%);
}

.color-4 {
    background-color: hsl(169, 100%, 75%);
}

.color-5 {
    background-color: hsl(210, 100%, 82%);
}

.color-6 {
    background-color: hsl(237, 100%, 75%);
}

.color-7 {
    background-color: hsl(300, 92%, 29%)
}

.color-8 {
    background-color: hsl(310, 100%, 75%);
}

.color-9 {
    background-color: hsl(0, 100%, 55%);
}

.color-10 {
    background-color: hsl(32, 100%, 40%);
}

.color-11 {
    background-color: hsl(98, 100%, 55%);
}

.color-12 {
    background-color: hsl(169, 100%, 41%);
}

.color-13 {
    background-color: hsl(210, 100%, 55%);
}

.color-14 {
    background-color: hsl(237, 100%, 55%);
}

.color-15 {
    background-color: hsl(278, 100%, 55%);
}

.color-16 {
    background-color: hsl(310, 100%, 55%);
}
